* {
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
}

.dashboard {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bar-container {
  align-content: center;
  height: 600px;
  width: 50%;
}

.sidebar {
  position: absolute;
  width: 51px;
  height: 1088px;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, #0db2d6 8.12%, #4fda91 71.62%);
}

.linha {
  position: absolute;
  width: 1088px;
  height: 0px;
  left: 279px;
  top: 0px;

  border: 1px solid #ebebeb;
  transform: rotate(90deg);
}
.canvas {
  display: flex;
  position: absolute;
  width: 100%;
  height: 1088px;
  left: 44px;
  top: 0px;

  background: #fafafa;
}

.bar-container {
  position: absolute;
  width: 738px;
  height: 269px;
  left: 300px;
  top: 86px;

  background: #ffffff;
  border: 0.5px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.pie-container {
  position: absolute;
  width: 347px;
  height: 269px;
  left: 1067px;
  top: 86px;

  background: #ffffff;
  border: 0.5px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.pie-container2 {
  content: justify-content;
  position: absolute;
  width: 358px;
  height: 328px;
  left: 302px;
  top: 373px;

  background: #ffffff;
  border: 0.5px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.pie-container3 {
  position: absolute;
  width: 358px;
  height: 328px;
  left: 678px;
  top: 373px;

  background: #ffffff;
  border: 0.5px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.search-container {
  position: absolute;
  width: 738px;
  height: 328px;
  left: 298px;
  top: 710px;

  background: #ffffff;
  border: 0.5px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.atuali-container {
  position: absolute;
  width: 347px;
  height: 670px;
  left: 1067px;
  top: 362px;

  background: #ffffff;
  border: 0.5px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.pie1title {
  background-color: #0db2d6;
  position: absolute;
  height: 13px;
  left: 21.94%;
  right: 58.75%;
  top: calc(50% - 13px / 2 - 164.5px);

  color: #fdfdfd;
}
